/* 
    #2c2c2c
    #a5ffc9
    #a5c9ff
*/
.container{
    display: flex;
    flex-direction: column;
}
header{
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    font-size: 36px;
    align-self: center;
    width: 80%;
    margin:0;
}
footer{
    border-top:1px solid gray;
    padding:20px;
    text-align: center;

    background-color: #2c2c2c;
    color: white;
}
.content{
    display:flex;
    justify-content: center;

}
.content aside{
    border-left:1px solid gray;    
}
aside{
    flex-basis: 150px;
    flex-shrink: 0;
}
main{
    padding:10px;
    flex-wrap: wrap;
    background-color: goldenrod;
    width:1000px;
    height: 1000px;
}
nav{
    float:right;
    margin-top: 15px;
}
nav ul{
    margin:0;
    padding:0;
}
nav ul li{
    cursor: pointer;
    float: left;

    display: inline;
    padding:0 20px 0 20px;
}
.fixedHead{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #2c2c2c;
    color: honeydew;

    display: flex;
    z-index: 999;
}
.fixedHead nav{
    flex-grow: 1;
    
}

.fixedHead.under{
    display: flex;
    position:fixed;
    left: 0;
    top: 50px;
    width: 100%;
    height: 35px;
    background-color:#a5c9ff;

    justify-content: flex-end;
    z-index: 999; 
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: honeydew;
}
.link:hover{
    font-weight: bold; 
}

/* login input */
.fixedHead.under form{
    padding-right: 10px;
    padding-top: 3px;
    
}
input[type='text'], input[type='password']{
    padding: 2px;
    margin:0;
    height: 20px;
    width:150px;
    outline: none;
    vertical-align: middle;
}

.loginBtn{
    height: 28px;
    background-color:#2c2c2c;
    border: 0;
    padding: 0 20px;
    margin:0;
    color: white;
    cursor: pointer;
}
