<div class="fixedHead under">
    <form action="/login/login" method="post" onSubmit="return loginValidation()">
        <input type="text" placeholder="id" name="username" class="loginId"/>
        <input type="password" placeholder="password" name="password" class="loginPwd"/>
        
        <button type="submit" class="loginBtn" >Login</button>
        <button class="loginBtn" id='jsSignUp'>Sign Up</button>
    </form>
</div>