<div class="fixedHead under">
    <%= loggined %>
    <span>님 환영합니다.</span>
    <form action="/login/logout" method="get" >
        <button type="submit" class='loginBtn'>Logout</button>
    </form>
</div>