<div class="container">
    <div class="content fixedHead">
        <header>
            <a class='link' href='/index.html'>Drawing</a>
        </header>
        <nav>
            <ul>
                <li><a href="/about.html" class="link">About</a></li>
                <li><a href="/board/imgboard.html" class="link">Board</a></li>
                <li><a href="/board/listboard.html" class="link">Talk</a></li>
            </ul>
        </nav>  
    </div>
    <div class="fixedHead under">
        <form action="/login/login" method="post" onSubmit="return loginValidation()">
            <input type="text" placeholder="id" name="loginId" class="loginId"/>
            <input type="password" placeholder="password" name="loginPwd" class="loginPwd"/>
            
            <button type="submit" class="loginBtn" >Login</button>
            <button class="loginBtn" id='jsSignUp'>Sign Up</button>
        </form>
    </div>
    
    <section class='content'>
        
        <main> <%- include('../template/'+main); %></main>
        <aside><%- aside %></aside>
    </section>

    
    <%- include('footer'); %>
</div>