<div class="displayRegister displayRegisterOff">
            <div class='backSignUp'></div>
            <div class="signUp">
            ${registerScreen()}
            <%- include('../template/login'); %>
                <div class='oAuth'>
                    <hr>
                    OAuth2.0
                </div>
            </div>
</div>