<div class='boardContainer'>
    <!-- list add -->
</div>
<div class="boardContainer">
    <div class="btnRight btnMagin">
        <button>
        글쓰기
    </button></div>
    <div class="page btnCenter">
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
    </div>

</div>
