<div class='boardSize'>
    <h2>Talk Board</h2>
    <table class=" ">
        <thead>
            <tr class="tableLine ">
                <th class="tableHead ">번호</th>
                <th class="tableHead ">제목</th>
                <th class="tableHead ">작성자</th>
                <th class="tableHead ">날짜</th>
                <th class="tableHead ">조회수</th>
                <th class="tableHead ">좋아요</th>
            </tr> 
        </thead>
               
        <tr class="tableLine tableBg">
            <td class="tableMargin">1</td>
            <td class="tableMargin">noticeaaaaaaaaaaaaa</td>
            <td class="tableMargin">apple123</td>
            <td class="tableMargin">2020/1/1</td>
            <td class="tableMargin">5</td>
            <td class="tableMargin">12</td>
        </tr>
        <tr class="tableLine">
            <td class="tableMargin">2</td>
            <td class="tableMargin">hello world</td>
            <td class="tableMargin">apple123</td>
            <td class="tableMargin">2020/1/1</td>
            <td class="tableMargin">5</td>
            <td class="tableMargin">12</td>
        </tr>
    </table>
    <div class="btnRight btnMagin">
        <button>
        글쓰기
        </button>
    </div>

    <div class="page btnCenter">
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
    </div>
</div>
