<!-- body -->
<div class='boardContainer'>
    <!-- list add -->
</div>
<div class="boardContainer">
    <div class="btnRight btnMagin">
        <button>
        글쓰기
    </button></div>
    <div class="page btnCenter">
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
        <button class="btnMaginSide">1</button>
    </div>

</div>


<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/mainLayout.css">
<link rel="stylesheet" href="/css/loginRes.css">
<link rel="stylesheet" href="/css/talkBoard.css">
<link rel="stylesheet" href="/css/board.css">


<script src="/js/login.js"></script>
<script src="/js/imgboard.paging.js"></script>

<%- contentFor('title') %>
share Drawing-Board
<%- contentFor('aside') %>
aside
